.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
dist/
coverage/
node_modules/
vite.config.d.ts
vite.config.js
*.tsbuildinfo

android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

*.iml
.idea/
.vscode/
